
/* FBDROPDOWNSTYLE CSS .......................................................................... */

/* DEFAULT STYLES */
.fbdropdownstyle {width: 250px;}

    /* Resets */
    .fbdropdownstyle dd, .fbdropdownstyle dt, .fbdropdownstyle ul {margin:0; padding:0;}

    /* Default styles */
    .fbdropdownstyle dd {position:relative;z-index: 2;/* top: -1px; */}
    .fbdropdownstyle a {color:black; text-decoration:none; outline:none;}

    .fbdropdownstyle dt a {/* background:gray url(arrow.png) no-repeat scroll right center; */background: #eee;display:block;border: 1px solid #999;width: 100%;padding: 0.5em 1em;box-sizing: border-box;}
    .fbdropdownstyle dt a span {cursor:pointer; display:block;}

    .fbdropdownstyle dd ul {background: #eee;border: 1px solid #999;border-top: 0;display:none;position:absolute;top:0;left: 0;width: 100%;box-sizing: border-box;list-style:none;}
    .fbdropdownstyle span.value {display:none;}
    .fbdropdownstyle dd ul li a {padding: 0.5em 1em;display:block;}

    /* Focus (click on dropdown that makes it open) */
    .fbdropdownstyle dt a:focus {border-color:black;}

    /* Hover on option item */
    .fbdropdownstyle dd ul li a:hover {background-color:#ccc;}


/* USER STYLES */
.fbdropdownstyle { }

    .fbdropdownstyle dd { }
    .fbdropdownstyle a { }

    .fbdropdownstyle dt a { }
    .fbdropdownstyle dt a span { }

    .fbdropdownstyle dd ul { }
    .fbdropdownstyle span.value { }
    .fbdropdownstyle dd ul li a { }

    /* Focus (click on dropdown that makes it open) */
    .fbdropdownstyle dt a:focus { }

    /* Hover on option item */
    .fbdropdownstyle dd ul li a:hover { }